.paragraph {
  background: green;
  /* padding: 50px; */
  border: 6px solid black;
  border-radius: 10px;
  padding: 5px 25px;
  margin: 5px 25px;
  text-decoration: black;
}
.inline-span{
  background: bisque;
}