/* .imageBackground {
  background-image: url(../../../Images/obraz-w-drewnianej-ramie-40x50-cm-zyd-iii-marian-kaszuba-b-iext79826113.jpg);
  background-size: contain;
  background-position: center;
  background-size: 100%;
  width: 1000px;
  height: 1000px;
  filter:drop-shadow(16px 16px 20px red) invert(75%);
}; */